#root {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(0deg, rgba(98, 98, 101, 0.044), #2423234d),url(./assets/homepage.jpg);
    background-size: cover;
    /*filter: brightness(0.5);*/

}